AddHandler application/x-httpd-php83 .php
# Enable mod_rewrite
RewriteEngine On

# Check the Accept-Language header and redirect based on the preferred language
RewriteCond %{HTTP:Accept-Language} ^de [NC]
RewriteRule ^$ /de/ [R=302,L]

RewriteCond %{HTTP:Accept-Language} ^fr [NC]
RewriteRule ^$ /fr/ [R=302,L]

RewriteCond %{HTTP:Accept-Language} ^en [NC]
RewriteRule ^$ /en/ [R=302,L]

# Default to English if no preferred language is found
RewriteRule ^$ /en/ [R=302,L]

# Redirect language directories to their respective HTML files
RewriteRule ^de/?$ /index-de.html [L]
RewriteRule ^fr/?$ /index-fr.html [L]
RewriteRule ^en/?$ /index-en.html [L]

# Handle paths for assets, stylesheets, JS files, etc.
RewriteRule ^(de|en)/assets/(.*)$ /assets/$2 [L]
RewriteRule ^(de|en)/styles/(.*)$ /styles/$2 [L]
RewriteRule ^(de|en)/scripts/(.*)$ /scripts/$2 [L]

RewriteRule ^de/impressum/?$ /impressum.html [L]
RewriteRule ^en/legal-notice/?$ /impressum.html [L]

RewriteRule ^de/datenschutz/?$ /datenschutz.html [L]
RewriteRule ^en/privacy-policy/?$ /datenschutz.html [L]

RewriteRule ^de/agb/?$ /agb.html [L]
RewriteRule ^en/terms/?$ /agb.html [L]