body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: auto;
}

/*svg {
  position: fixed;
  width: 100vh;
  height: 100vh;
}*/

.scrollDiv {
  height: 10000vh;
}

#container {
}

#container2 {
  background-color: blue;
}
#topleft {
  position: fixed;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background-color: red;
}