body {
  background-color: white;
  font-family: "Signika Negative", sans-serif;
  text-align: center;
  cursor: none;
}

.ball {
  width: 20px;
  height: 20px;
  position: fixed;
  top: 0;
  left: 0;
  border: 2px solid black;
  pointer-events: none;
}


@keyframes moveCursor2 {
  0% {
      transform: scale(1);
  }

  50% {
      transform: scale(2);
  }

  100% {
      transform: scale(1);
  }
}

.clickable {
  background-color: red;
}