#test {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 10%;
  height: 10%;
  background-color: red;
  animation: expand 3s ease-in-out forwards;
}

@keyframes expand {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(30);
  }
}