@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;600&family=Space+Mono&display=swap');
body {
    font-family: 'Space Grotesk', sans-serif;
}

.body-wrapper {
    overflow: hidden;
}

.filler {
    height: 100vh;
}

.filler p {
    font-size: 50px;
}
.panels-container {
    display: flex;
    width: 500%; /* 5 panels * 100% */
    height: 100vh;
    overflow: visible;
  }
  
  .panel {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .content-wrapper {
    width: 100%; /* Max width of content */
    height: 100%;
    display: flex;
    position: relative;
  }

  .count {
    font-weight: 600;
    font-size: 155px;
    margin: 0;
    margin-left: 17%;
    margin-top: 30vh;
  }
  
  .section-header {
    font-weight: 600;
    font-size: 55px;
    margin: 0;
    margin-bottom: 2vh;
  }
  
  .ablauf-text {
    font-weight: 300;
    font-size: 25px;
  }
  
  .panel-content {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: calc(30vh + 100px);
    width: 30%;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px black solid;
  display: flex;
  align-items: center;
  height: 133px;
  z-index: 2;
  font-family: "Space Mono", sans-serif;
}

#lottie-animation-1, #lottie-animation-2, #lottie-animation-3, #lottie-animation-4, #lottie-animation-5 {
    position: absolute;
  
  }
  #lottie-animation-1 {
    top: 12vh;
    right: 8%;
    width: 30%;
  }
  /*
  #lottie-animation-1 {
    top: -260px;
    right: -150px;
  }
  
  
  #lottie-animation-2 {
    top: 380px;
    right: -50px;
  }
  
  #lottie-animation-3 {
    top: -230px;
    right: -280px;
  }
  
  #lottie-animation-4 {
    top: 370px;
    right: -170px;
  }
  
  #lottie-animation-5 {
    top: -340px;
    right: -200px;
  }*/