@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;600&family=Space+Mono&display=swap');
html {
    font-family: 'Space Grotesk', sans-serif;
}

h1, h2 {
    font-weight: 600;
  }

  h1 {
      font-size: 40px;
  }

  h2 {
      font-size: 24px;
  }

  .container {
      display: flex;
      width: 90%;
      justify-content: space-between;
      flex-direction: column;
      margin-left: 30px;
  }