@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;600&family=Space+Mono&display=swap');

:root {
    --bg-color: #ffffff;
    --text-color: #333333;
    --screen-color: #333333;
    --phone-header: #4E4E4E;
    --on-opacity: 1;
  }
  
  .dark-mode {
    --bg-color: #1e1e1e;
    --text-color: #f5f5f5;
    --screen-color: #4E4E4E;
    --phone-header: #333333;
    --on-opacity: 0;
  }
  
body {
    font-family: 'Space Grotesk', sans-serif;
    background: var(--bg-color);
    color: var(--text-color);
}
a {
  cursor: none;
}
html {
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
}
html,
body {
  margin: 0;
  cursor: none;
}
body {
  overflow-x: hidden;
}

h2 {
  font-weight: 600;
}
h3, h4, h5, h6, i {
  font-weight: 300;
}
/* Navbar Styling */
.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--bg-color);
    border-bottom: 1px var(--text-color) solid;
    display: flex;
    align-items: center;
    height: 133px;
    z-index: 2;
    font-family: "Space Mono", sans-serif;
}

.navbar img {
    width: 400px;
}

.links {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.links a {
    padding: 0 50px;
    font-size: 32px;
    text-decoration: none;
    color: var(--text-color);
}
/* Darkmode button */
  
  .toggle--checkbox {
    display: none;
  }
  
  .toggle--checkbox:checked + .toggle--label:before {
    animation-name: switch;
    animation-duration: 350ms;
    animation-fill-mode: forwards;
  }
  .toggle--checkbox:checked + .toggle--label:after {
    transition-delay: 350ms;
    opacity: 1;
  }
  .toggle--label {
    width: 75px;
    height: 36px;
    background: var(--bg-color);
    border-radius: 75px;
    border: 1px solid var(--text-color);
    display: flex;
    position: absolute;
    top: 115px;
    right: 48px;
    transition: all 350ms ease-in;
  }
  
  .toggle--label:before {
    animation-name: reverse;
    animation-duration: 350ms;
    animation-fill-mode: forwards;
    transition: all 350ms ease-in;
    content: "";
    width: 20px;
    height: 20px;
    border: 1px solid var(--text-color);
    top: 7px;
    left: 5px;
    position: absolute;
    border-radius: 20px;
    background: var(--bg-color);
    z-index: 3;
  }
  
  .off {
    position: relative;
    top: 3px;
    font-size: 20px;
    left: 9px;
    z-index: 1;
    opacity: calc(1 - var(--on-opacity));
  }
  
  .on {
    position: relative;
    top: 3px;
    font-size: 20px;
    right: 0;
    z-index: 1;
    opacity: var(--on-opacity);
  }
  
  
  @keyframes switch {
    0% {
      left: 5px;
    }
  
    100% {
      left: 48px;
    }
  }
  @keyframes reverse {
    0% {
      left: 38px;
    }
    100% {
      left: 5px;
    }
  }

/* Spin button styling */
#spin-button {
  position: absolute;
  bottom: 0;
  right: 50px;
  width: 120px;
  height: 120px;
  font-family: "Space Mono", sans-serif;
}

.spin-text {
  position: absolute;
  font-size: 22px;
}

.spin-top {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.spin-right {
  top: 50%;
  right: -5px;
  transform: translateY(-50%) rotate(90deg);
}

.spin-bottom {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
}

.spin-left {
  top: 50%;
  left: -5px;
  transform: translateY(-50%) rotate(-90deg);
}

.spin-icon {
  font-size: 20px;
  position: absolute;
  top: 52px;
  left: 52px;
}

/* Home Styling */
#home {
  height: calc(100vh - 133px);
  display: flex;
  position: relative;
  margin-bottom: 200px;
}

#home .left, #home .right {
  width: 50%;
}

#home h1 {
  padding-left: 100px;
  width: 70%;
  font-size: 80px;
  margin-bottom: 0;
  font-weight: 600px;
}

#home h2 {
  margin-top: 0;
  padding-left: 100px;
  font-family: "Space Mono", sans-serif;
}

.home-icons {
  display: block;
  position: fixed;
  left: 42px;
  bottom: 10px;
  z-index: 1;
}

.icons-white {
  display: none;
}

.home-icons img {
  width: 20px;
  padding-right: 5px;
}

.dark-mode .icons-black {
  display: none;
}

.dark-mode .icons-white {
  display: block;
}
/* About Styling */

#about {
  display: flex;
  margin-bottom: 200px  ;
}

#about .left {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#about .right {
  width: 60%;
}

#about img {
  width: 100%;
  max-width: 550px;
}

#about h2 {
  font-size: 55px;
  width: 70%;
}

#about .text {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 25px;
}

#about p {
  width: 50%;
}

/* Angebot styling */
#angebot {
  display: flex;
  margin-bottom: 200px;
}

#angebot .left, #angebot .right {
  width: 50%;
}

#angebot .left {
  margin-left: 100px;
}

#angebot .right {
  margin-right: 100px;
}

#angebot h2 {
  font-size: 55px;
  width: 70%;
}

#angebot .text {
  font-size: 25px;
  display: flex;
  justify-content: flex-end;
}

#angebot p {
  width: 70%;
}

#angebot .tagcloud-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#angebot .tagcloud {
  z-index: 1;
}

/* projects styling */
#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 200px;
}

#projects h2 {
  font-size: 55px;
}

#projects .device-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#tv {
  

  display: flex;
  flex-direction: column;
  align-items: center;
}
#tv .header {
  width: 1052px;
  height: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid black;
  background-color: white;
}
#tv .header .circle-container {
  margin-left: 10px;
  height: 100%;
  display: flex;
  align-items: center;
}

#tv .header .circle-container .circle {
    border: 1px solid black;
    border-radius: 50%;
    background: transparent;
    height: 30%;
    margin-left: 5px;
    aspect-ratio: 1; 
}

#tv .screen {
  width: 1054px;
  height: 550px;
  aspect-ratio: 1960/1080;
  background: var(--screen-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.screen video{
  width: 100%;
  
}
#phone {
  border-radius: 28px;
  padding: 10px;
  border: 1px var(--text-color) solid;
  height: fit-content;
  background-color: white;
}
#phone .screen {
  width: 258px;
  height: 527px;
  background-color: var(--screen-color);
}

#phone .header {
  height: 26px;
  width: 258px;
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#phone .header .circle {
  border-radius: 50%;
  background: white;
  height: 40%;
  aspect-ratio: 1; 
}

#phone .footer {
  height: 32px;
  width: 258px;
  background-color: black;
  border-bottom-left-radius: 21px;
  border-bottom-right-radius: 21px;
}

#projects .text-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 100px;
  margin-top: 100px;
}

#projects .text-container p {
  width: 40%;
  font-size: 25px;
}

/* Contact styling */
#contact {
  display: flex;
  width: 100%;
  margin-top: 500px;
  margin-bottom: 200px;
  position: relative;
}

#contact .left {
  width: 40%;
  display: flex;
  justify-content: flex-end; 
}

/*#contact .left div {
  width: 40%;
}*/

#lottie-lampe {
  width: 80%;
}

#contact .right {
  width: 60%;
}

#contact h2 {
  width: 70%;
  font-size: 55px;
}

#contact .wrapper {
  margin-left: 30%;
}

#contact h3 {
  font-size: 39px;
  width: 70%;
  font-family: "Space Mono", sans-serif;
}

#contact .email {
  font-size: 25px;
  border: 2px var(--text-color) solid;
  border-radius: 25px;
  padding: 5px 10px;
  margin-bottom: 100px;
  text-decoration: none;
  color: var(--text-color);
  font-family: "Space Mono", sans-serif;
}

#contact .address {
  margin-top: 100px;
}
#contact i {
  padding: 0 5px;
}

#contact p {
  font-size: 25px;
  line-height: normal;
  margin: 0;
}

#spin-button-bottom {
  position: absolute;
  bottom: 0;
  right: 50px;
  width: 120px;
  height: 120px;
  font-family: "Space Mono", sans-serif;
}

.spin-bottom-text {
  position: absolute;
  font-size: 22px;
}

.spin-bottom-top {
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.spin-bottom-right {
  top: 50%;
  right: 5px;
  transform: translateY(-50%) rotate(90deg);
}

.spin-bottom-bottom {
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
}

.spin-bottom-left {
  top: 50%;
  left: 5px;
  transform: translateY(-50%) rotate(-90deg);
}

.spin-bottom-icon {
  font-size: 20px;
  position: absolute;
  top: 52px;
  left: 46px;
}

/* footer styling */
footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px var(--text-color) solid;
  font-size: 14px;
  padding: 32px;
  align-items: flex-end;
  font-family: "Space Mono", sans-serif;
  z-index: 2;
  position: relative;
  background-color: var(--bg-color);
}

footer .links {
  width: fit-content;
  display: flex;
  flex-direction: column;
}
footer .links a {
  font-size: 14px;
  padding: 0;
  color: var(--text-color);
  text-decoration: underline;
}

footer .icons img{
  width: 20px;
}

footer i {
  padding: 0 5px;
}

footer p {
  margin: 0;
}

/* Animation styling */

#loadAnimation {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10;
  background-color: black;
  top: 0;
  left: 0;
}

/*.fade-out {
  animation-name: fadeout;
  animation-duration: 1000ms;
}*/

.anim {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#animationHelper {
  display: none;
  position:fixed;
  top: 0;
  left: 0;
  width:100%; height:100%;
  margin:0 auto;
  z-index: 11;
  animation: expand 2s ease-in-out forwards;
}

@keyframes expand {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(30);
  }
}

#animationHelper {
  pointer-events: none;
}

/* Micro animations */

.animated-element {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.animate {
  opacity: 1;
  transform: translateY(0);
}

/* ablauf styling */
#panels {
  /*white-space: nowrap;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;*/
  margin-bottom: 200px;
  /*margin-left: 100px;*/
}

#panels h2 {
  font-size: 55px;
  margin-left: 100px;
}


#panels #panels-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding: 0;
}
#panels #panels-container .paneltino {
  position: relative;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 100px;
}

.panel-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 20px;
  align-items: flex-start;
  margin-top: 108px;

}
.count {
  font-weight: 600;
  font-size: 155px;
  margin: 0;
}

.section-header {
  font-weight: 600;
  font-size: 55px;
  margin: 0;
}

.ablauf-text {
  font-weight: 300;
  font-size: 25px;
}

#lottie-animation-1, #lottie-animation-2, #lottie-animation-3, #lottie-animation-4, #lottie-animation-5 {
  position: absolute;

}

#lottie-animation-1 {
  top: -260px;
  right: -150px;
}

#lottie-animation-2 {
  top: 380px;
  right: -50px;
}

#lottie-animation-3 {
  top: -230px;
  right: -280px;
}

#lottie-animation-4 {
  top: 370px;
  right: -170px;
}

#lottie-animation-5 {
  top: -340px;
  right: -200px;
}

.content-wrapper {
    display: flex;
    width: 650px;
    position: relative;
}

.position-wrapper {
  height: 650px;

}

.down {
  align-items: flex-end;
  display: flex;
}


/*#ablauf::-webkit-scrollbar {
  display: none;
}*/

/*#ablauf div {
  display: inline-block;
}*/

/* cursor styling */
.cursor {
  width: 20px;
  height: 20px;
  position: fixed;
  top: 0;
  left: 0;
  border: 2px solid black;
  pointer-events: none;
  z-index: 9;
}

.dark-mode .cursor {
  border: 2px solid white;
}