@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;600&family=Space+Mono&display=swap');
html {
    font-family: 'Space Grotesk', sans-serif;
}
.outer-container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.container {
    width: 80%;
    margin-bottom: 40px;
}

li {
    list-style-type: decimal;
    line-height: 1.5;
    font-size: 20px;
    margin-bottom: 5px;
}